# ---

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.vsm

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Binary files
bin/
obj/
res/

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.erl
*.elf
