.vscode/

*.[Bb][Mm][Pp]
*.[Pp][Nn][Gg]
*.[Oo][Bb][Jj]
*.[Ww][Aa][Vv]
*.[Dd][Ff][Ff]
*.[Ii][Rr][Xx]
*.[Aa][Dd][Pp][Cc][Mm]
*.[Mm][Dd]2

# ---

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.erl
*.elf
